.grid {

    position: absolute;
    width: 560px;
    height: 300px;
    border:solid black 2px;
    margin-top: 80px;
}
.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color:dodgerblue;
}
.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color:darksalmon;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius:10px ;
    background-color: rgb(249, 2, 2);

}